#loader-wrapper{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color: #333;
  transition: 0.6s;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

#loader-wrapper.p-hidden{
  visibility: hidden;
  opacity: 0;
}

#loader{
  display: block;
  position: relative;
  left:50%;
  top:50%;
  width:100px;
  height:100px;
  margin:-50px 0 0 -50px;
  border-top:3px solid #3498db;
  border-radius:50%;
  
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before{
  /*content:"";
  position:absolute;
  top:5px;
  left:5px;
  bottom:5px;
  right:5px;
  border-top: 3px solid #e74c3c;
  border-radius:50%;*/
  
  /*-webkit-animation: spin 2.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          /*animation: spin 2.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after{
  /*content:"";
  position:absolute;
  top:15px;
  left:15px;
  bottom:15px;
  right:15px;
  border-top: 3px solid #f9c922;
  border-radius:50%;*/
  
  /*-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  /*        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader-wrapper img {
  display: block;
  position: absolute;
  left:50%;
  top:50%;
  width:80px;
  height:80px;
  margin-left: -40px;
  margin-top: -40px;
  border-radius:50%;
  opacity: 0.5;
}
#loader-wrapper h2{
  display: block;
  position: absolute;
  left:50%;
  top:50%;
  font-size: 24px;
  color: white !important;
  margin-left: -40px;
  margin-top: 60px;
  opacity: 0.8;
}
.fingerprint {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: 80px;
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
